.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

h1 {
    font-size: 40;
    margin-left: auto;
    margin-right: auto;
}
 

.mitad {
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    background-color: lightgray;

}

.caja {
    background-color:lightgray;
    border: 5px solid black;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

li {
    text-align: center;
}

.loguito {
    height: 20px;
}

.cajon {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    border: 1px solid black;
    gap: 10px;
    padding: 30px;
}